<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class=" rounded-xl w-[80%] py-[10%] bg-red-200 m-auto">
      <h1 class="text-center text-8xl font-extrabold text-red-400">About Website</h1>
        <p class="px-20 mt-10 text-center ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam qui vel et odio magni quidem ipsum facere. Totam eligendi ipsa quibusdam ullam ipsum alias natus vitae consequatur non aut tempora, vel inventore magni tenetur officia fuga delectus eos minima cum dicta temporibus quidem sunt similique? Vitae id non repudiandae perferendis.</p>
      

      
    </div>
    <!--  -->
    <%- include('partials/footer')%>