<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class=" rounded-xl w-[80%] py-[10%] bg-red-200 m-auto">
      <h1 class="text-center text-8xl font-extrabold text-red-400">forget password</h1>

      
        <form class="flex flex-col items-center gap-2 justify-center gap-x-5 mt-10 " action="/forgetemail" method="post">
            <input class="w-[20%] p-1 bg-transparent border-2 border-red-300 rounded-md placeholder-white text-white" type="text" name="email" placeholder="email@gmail.com"> 
           
            
            <button class="bg-red-400 px-5 py-3 text-white w-[20%] rounded-md">Submit email</button>
            
          </form>
          

      
    </div>
    <!--  -->
    <%- include('partials/footer')%>